[submodule "api"]
	path = api
	url = https://github.com/GillyRabutTsurwa/winpre-cars-studio
[submodule "frontend"]
	path = frontend
	url = git@github.com:GillyRabutTsurwa/winpre-cars-frontend.git
	branch = master
